{#
/**
 * @file
 * Theme override for a field.
 *
 * To override output, copy the "field.html.twig" from the templates directory
 * to your theme's directory and customize it, just like customizing other
 * Drupal templates such as page.html.twig or node.html.twig.
 *
 * Instead of overriding the theming for all fields, you can also just override
 * theming for a subset of fields using
 * @link themeable Theme hook suggestions. @endlink For example,
 * here are some theme hook suggestions that can be used for a field_foo field
 * on an article node type:
 * - field--node--field-foo--article.html.twig
 * - field--node--field-foo.html.twig
 * - field--node--article.html.twig
 * - field--field-foo.html.twig
 * - field--text-with-summary.html.twig
 * - field.html.twig
 *
 * Available variables:
 * - attributes: HTML attributes for the containing element.
 * - label_hidden: Whether to show the field label or not.
 * - title_attributes: HTML attributes for the title.
 * - label: The label for the field.
 * - multiple: TRUE if a field can contain multiple items.
 * - items: List of all the field items. Each item contains:
 *   - attributes: List of HTML attributes for each item.
 *   - content: The field item's content.
 * - entity_type: The entity type to which the field belongs.
 * - field_name: The name of the field.
 * - field_type: The type of the field.
 * - label_display: The display settings for the label.
 *
 * @see template_preprocess_field()
 */
#}
{%
  set title_classes = [
    label_display == 'visually_hidden' ? 'visually-hidden',
  ]



%}
{%
    set custom_field_classes = [
        'product-card__item',
        'product-card__item_gallery',
        'gallery',
        'nodes__img'
    ]
%}

{%
    set slide_classes = [
        'gallery__slide',
        'swiper-slide',
    ]
%}

{% if label_hidden %}
  {% if multiple %}
    <div{{ attributes.addClass(custom_field_classes) }}>
      <div class="gallery-thumbs" style="display: none;">
        <div class="_icon-up"></div>
        <div class="swiper-wrapper"></div>
        <div class="_icon-down"></div>
    	</div>
      <div class="swiper-grid">
				<div class="swiper swiper-main">
				  <div class="swiper-wrapper">
            {% for item in items %}
            <div{{ item.attributes.addClass(slide_classes) }}>
            	<div class="gallery__header">
								<div class="indicator">
                  <div class="indicator__item indicator__item_first"></div>
                  <div class="indicator__item indicator__item_middle"></div>
                  <div class="indicator__item indicator__item_last"></div>
                </div>
                <div class="stock-status">Много на складе</div>
              </div>
              {{ item.content }}
              <div class="gallery__sharing sharing">
												<div class="sharing__wrapper">
													<div class="sharing__icons">
														<div class="sharing__icon _icon-wa"></div>
														<div class="sharing__icon _icon-telegram"></div>
														<div class="sharing__icon _icon-email"></div>
														<div class="sharing__icon _icon-fb"></div>
														<div class="sharing__icon _icon-insta"></div>
														<div class="sharing__icon _icon-viber"></div>
													</div>
													<div class="sharing__button sharing__button_share">
														<div class="sharing__pic sharing__pic_share"><img
																src="/themes/mytheme/img/icons/share.svg" alt=""></div>
														<div class="sharing__label">Поделиться</div>

													</div>
													<div class="sharing__button sharing__button_copylink">
														<div class="sharing__label sharing__label_copylink">
															<span class="span_mobile">Копировать ссылку</span>
															<span class="span_desktop">Копировать</span>
														</div>
														<div class="sharing__pic sharing__pic_copylink"><img
																src="/themes/mytheme/img/icons/link.svg" alt=""></div>
													</div>
												</div>
											</div></div>
            {% endfor %}
          </div>
          <div class="swiper-pagination"></div>
          <div class="swiper-button-prev"></div>
          <div class="swiper-button-next"></div>
        </div>
      </div>
    </div>
  {% else %}
    {% for item in items %}
      <div{{ attributes.addClass(custom_field_classes) }}>{{ item.content }}</div>
    {% endfor %}
  {% endif %}
{% else %}
  <div{{ attributes.addClass(custom_field_classes) }}>
    <div{{ title_attributes.addClass(title_classes) }}>{{ label }}</div>
    {% if multiple %}
      <div class="swiper-grid">
				<div class="swiper swiper-rec">
				  <div class="swiper-wrapper">
            {% endif %}
            {% for item in items %}
              <div{{ item.attributes.addClass(slide_classes) }}>{{ item.content }}</div>
            {% endfor %}
            {% if multiple %}
          </div>
          <div class="swiper-pagination"></div>
          <div class="swiper-button-prev"></div>
          <div class="swiper-button-next"></div>
        </div>
      </div>
    {% endif %}
  </div>
{% endif %}
